{"query": "mutation SyncMeasurement ($measurement: MeasurementInput) { syncMeasurement(measurement: $measurement) { euuid date hour station { name } } }","variables": {"measurement": %s },"operationName": "SyncMeasurement"}
