{"query": "query CheckMeasurementExists ($date: String, $hour: Int, $station_name: String) { searchMeasurement { date (_eq:$date) hour (_eq:$hour) station { name (_eq:$station_name) } } }","variables": {"date": %s, "hour": %d, "station_name": %s },"operationName": "CheckMeasurementExists"}
